.pencil {
	transition: .6s;
}

.pencil:hover, .pencil:focus {
	transform: rotate(-25deg);
	cursor: pointer;
}

.text-pencil {
	text-align: center;
	font-size: 200%;
	font-weight: bold;
}

.list-img img {
	padding-top: 30px;
}