.bg-9{
    padding-left: 180px;
}

img{
    display: block;
    margin-left: auto ;
    margin-right: auto;
}
.col-sm-12{
 margin-left: 50px;
}
.col-sm-4{
    padding-bottom: 20px;
}

.col-sm-4 img:hover {
	cursor: pointer;
}

.col-sm-4 img {
	width: 90%;
}


